.App {
  text-align: left;
}
.card{
  display: flex;
  flex-direction: row;
  margin: 100px 30rem;
  border: 2px solid blue;
 }

.image {
  display: block;
  text-align: center;
  /* padding: 60px; */
  margin: 2px;
  border: 1px solid orangered;
  background-color: orange;
}

.images{
height: 100%;
width: 150px;
}

.card-right {
  display: inline-block;
  width: 100%;
  margin: 2px;
  
}